body{
	align-items: center;
	display:flex;
	height: 500px;
	justify-content: center;
}

.corridor{
	background: brown;
	height:10px;
	transform: scale(4);
	width: 10px;
	border-left: 40px solid black;
	border-right: 40px solid black;
	border-top: 30px solid gray;
	border-bottom: 70px solid red;
}

.corridor::after{
	background:gold;
	content: "";
	height: 1px;
	left:7px;
	position: absolute;
	top:5px;
	width: 1px;

}
.corridor::before{
	content: "";
	background: aqua;
	width: 6px;
	height: 3px;
	position: absolute;
	left: 2px;
	top: 2px;
}