.photo{
	background-image:url('http://solarviews.com/thumb/earth/bluemarblewest.jpg');
	background-size: 300px; 
	height: 300px;
	margin: 20px;
	position: relative;
	width:300px;

}

.magnifier{
	background: #c9c9c9;
	border 1px solid #c9c9c9;
	box-sizing:border-box;
	height: 150px;
	left:0;
	opacity: 0.4; 
	position: absolute;
	top:0;
	width: 150px;
}

.zoom{
	background-image:url('http://solarviews.com/thumb/earth/bluemarblewest.jpg');
	background-repeat: no-repeat;
	background-size: 600px;
	height: 300px;
	margin:20px;
	width: 300px;
}