<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></li>
            <li class="nav-link" [routerLink]="['/listings']">Listings</li>
            <li class="nav-link" [routerLink]="['/add-listing']">Add Listings</li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-link" href ="">Login</li>
          </ul>
      </div>
    </nav>