#map {
    height: 85%;
    width: 100%;
    position: relative;
}

.jumbotron{
    position: absolute; 
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
/*    height: 25%;*/
    top: 0%; 
    z-index: 99; 
    background: rgb(30,144,255); /* This is for ie8 and below */
    background: rgba(30,144,255, 0.2); 
   
}

html, body, .container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Roboto','sans-serif';
}
#row{
	float: left;
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
	font-size: 12px;
	float: right;
    width: 34%;
    height: 100%;
}
#right-panel select, #right-panel input {
    font-size: 15px;
	width: 100%;
}
.panel {
    height: 100%;
    overflow: auto;
}
#elevation_chart{
	font-size: 14px;
}

#chartArea #chart text {
    font-size: 20px;
}

#modeRadios{
    float: center;
}

.btn{
    width: 20%;
}

.form-control{
    width: 20%;
    text-align: center;
}

.center{
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
}

.rangeslider{
    width: 20%
}


/*SIDE NAV*/

.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}


.sidenav label {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #aaa;
    display: inline;
    transition: 1s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
    margin-left: 50px;
}

.cursor{
    font-size:70px;
    cursor:pointer;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav label {font-size: 18px;}
}
