#map {
    height: 85%;
    width: 100%;
    position: relative;
}

.jumbotron{
    position: absolute; 
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    top: 0%; 
    z-index: 99; 
    background: rgb(192,192,192); /* This is for ie8 and below */
    background: rgba(192,192,192, 0.2); 
}

#modeRadios{
    width: 20%;
    text-align: left
}
.btn{
    width: 20%;
}

html, body, .container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Roboto','sans-serif';
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
	font-size: 12px;
	float: right;
    width: 34%;
    height: 100%;
}
#right-panel select, #right-panel input {
    font-size: 15px;
	width: 100%;
}
.panel {
    height: 100%;
    overflow: auto;
}
#elevation_chart{
	font-size: 14px;
}

#chartArea #chart text {
    font-size: 20px;
}

.center{
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
}

/*SIDE NAV*/

.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}


.sidenav, #align {
    padding-top: 10px;
    font-size: 26px;
    color: #aaa;
    display: inline;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 64px;
    margin-left: 50px;
}

.cursor{
    font-size:70px;
    cursor:pointer;
}
